body {
  background-color: #fff8f0;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #767522;
  color: white;
}

form {
  display: block;
}

.fiveDayCard {
  padding: 1rem;
}

.fiveDayCard .card-text {
  font-size: 0.85rem;
}
