body {
  background-color: #fff8f0;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #767522;
  color: white;
}

.col {
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  border-width: 5px;
}

form {
  display: block;
}

.fiveDayCard {
  padding: 1rem;
}
